nav__menu {
    width:960px;
    margin: 0 auto;
}

.nav__menu:before {
    content:'';
    display:block;
    height: 50px;
    width: 100%;
    background:#00ab8b;
    position:absolute;
    left:0;
    z-index:-1;
}

.nav__list {
    margin:0;
    padding: 0;
    list-style:none;
    height:50px;
}

.nav__list li {
    float:left;
}

.nav__list li a{
    color: white;
    display: block;
    height: 50px;
    padding:0 30px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

.nav__list li a:hover {
  background: #000000;
}

.non_list_style{
    margin:0;
    padding: 0;
    list-style: none;
    height:80px;
}

.text_left{
    text-align: left;
}

.image_right{
    text-align: right;
}

.cat__cars{
    color: black;
    list-style:none;
    text-transform:uppercase;
    text-decoration:none;
}

.selected{
    color:green;
}

.link_button {
	text-align: center;
}
.link_button a {
	padding:15px 30px;
	min-width: 50px;
	background: #00ab8b;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.button_rent{
	text-align: center;
}

.button_rent a{
    padding:15px 30px;
	min-width: 50px;
	background: #00ab8b;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: -20px;
}

.button_edit_car{
    text-align: right;
}

.button_edit_car a{
    padding:15px 50px;
	min-width: 50px;
	background: #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: -20px;
}

.button_delete_car{
    text-align: right;
}

.button_delete_car a{
    padding:15px 56px;
	min-width: 50px;
	background: red;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: -20px;

}

.form_login{
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form_error{
    list-style: none;
    padding: 0;
    color: #CC0000
}

.post_image{
	text-align: left;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.post_text{
    padding:0 830px;
    margin-top: -580px
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}