{% extends 'main/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<h3>Компания «RentCar» предлагает взять машину в аренду на сутки на самых выгодных условиях, осуществляется на срок от 1 суток!</h3>

<li>Срок от 1 суток
<li>Отсчет времени начинается с момента подписания акта приема-передачи авто Для автомобилей э Для автомобилей эконом-класса достаточно минимального стажа вождения, для автомобилей стоимостью выше 70 руб., стаж вождения необходим не менее 2 лет
   коном-класса достаточно минимального стажа вождения, для автомобилей стоимостью выше 70 руб., стаж вождения необходим не менее 2 лет
<li>Все автомобили застрахованы, при ДТП необходимо вызывать ГАИ и оповестить нас

<h3>Тарифы включают</h3>

<li>стоимость аренды автомобиля
<li>страховку от угона, ДТП
<li>суточный пробег до 350 км. За последующие каждые 350км – доплата 30 руб. 00 коп.
<h3>Тарифы не включают</h3>

<li>стоимость топлива и омывателя
<li>оплату парковки
<li>штрафные санкции
<li>мойку и уборку салона автомобиля

<h3>Условия оплаты</h3>

<h3>Способы оплаты:</h3>
<ol>
    <li>Наличный
    <li>Безналичный
    <li>Кредитные карты
</ol>
{% endblock %}