{% extends 'main/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<h3>RENTCAR - аренда автомобилей в Минске на лучших условиях</h3>
<big>
    <p>Прокат автомобиля в Минске – на час, день или более длительный период – в наше время не роскошь, а необходимость.
    <p>В большом городе человек без машины, как без рук – ничего не успеть! А такси все-таки, услуга разовая – довольно дорогая, предполагающая заранее озвученный маршрут, краткое время ожидания и постоянное присутствие постороннего человека рядом с вами. Аренда авто без водителя – не в пример более комфортный и, в конечном итоге, более выгодный вариант.
    <p>Если вы по какой-то причине оказались в Минске без машины, гораздо разумнее арендовать автомобиль на нужный вам период в надежной компании автопроката. Такой, как RENTCAR.
    <h3>Какие услуги предлагает RENTCAR</h3>
    <p>У нас можно оформить посуточную аренду авто любых классов, управлять которыми позволяют права категории В:
    <li>бюджетные модели
    <li>престижные седаны среднего и бизнес-класса
    <h3>Какие автомобили мы предлагаем в прокат</h3>
    <li>Все автомобили новые, ухоженные, чистые, тщательно проверенные.
    <li>Застрахованы по системе «КАСКО».
    <li>Оснащены аудиосистемами, кондиционерами, «обуты» по сезону.
    <li>По желанию клиента при заключении договора аренды автомобиля с нашей компанией предоставляем детское кресло и навигатор.
    <li>Мы работаем и преуспеваем в конкурентной отрасли аренды автомобилей в Минске благодаря тому, что предоставляем клиентам наиболее выгодные и комфортные условия.</li>
</big>



{% endblock %}